<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Kanb BIS</title>
    @Styles.Render("~/bower_components/bootstrap")
    @Styles.Render("~/bower_components/font-awesome")
    <style type="text/css">
        .vertical-offset-100 {
            padding-top: 100px;
        }
    </style>
</head>
<body>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
